doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    style
        include ../public/css/common.css
    block style
    block scripts
    block title
header
    div(class='header__title') Amazon Administration
    div(class='header__content')
        if userName
            div(class='header__user__info') Welcome! #{userName}
        else
            div(class='header__user__info') Welcome!
        div(class='header__menu')
            div(class='menu__button password') Change Password
            div(class='menu__button logout') logout
block section