extends common

block style
    style
        include ../public/css/detail.css
block scripts
    script(src='/js/common.js')
    script(src='/js/detail.js')
block title
    title Amazon Admin
block section
    section(class="detail__section")
        div(class="form__title") Admin Sign up
        form(class="login__form" action="/admin/login" method="POST")
            div(class="input__title") User Id:
            div(class="input")
                input(name="id")
            div(class="input__title") Password:
            div(class="input")
                input(name="password")
            div(class="input__title") Confirm Password:
            div(class="input")
                input(name="re_password")
            div(class="signup__button") Sign up

