extends common

block style
    style
        include ../public/css/login.css
block scripts
    script(src='/js/common.js')
    script(src='/js/login.js')
block title
    title Log in | Amazon Admin
block section
    section(class="login__section")
        div(class="form__title") Amazon Administration
        form(class="login__form" action="/admin/login" method="POST")
            if errorMsg !== null
                div(class="error__msg")=errorMsg
            div(class="input__title") User Id:
            div(class="input")
                input(name="id")
            div(class="input__title") Password:
            div(class="input")
                input(name="password")
            div(class="buttons")
                div(class="login__button") Log in
                div(class="signup__link") Sign up

