extends common

block style
    style
        include ../public/css/main.css
block scripts
    script(src='/js/main.js' type="module")
block title
    title Amazon Admin
block section
    section(class='database')
        div(class='database__title')
            div(class='title') #{databaseName}
        div(class='table__list')
            each table in tableList
                div(class='table')
                    div(class='table__name')=table
