doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    style
        include ../public/css/signup.css
    script(src='/js/signup.js')
    title Sign up | Amazon Admin
header
    div(class='header__title') Amazon Administration
    div(class='header__content')
        div(class='header__user__info') Welcome!
section(class="signup__section")
    div(class="form__title") Admin Sign up
    form(class="login__form" action="/admin/login" method="POST")
        div(class="input__title") User Id:
        div(class="input")
            input(name="id")
            //if errorMsg !== null
            //    div(class="error__msg")=errorMsg
        div(class="input__title") Password:
        div(class="input")
            input(name="password")
        div(class="input__title") Confirm Password:
        div(class="input")
            input(name="re_password")
        div(class="signup__button") Sign up

