extends common

block style
    style
        include ../public/css/table.css
block scripts
    script(src='/js/common.js')
    script(src='/js/table.js')
block title
    title Amazon Admin
block section
    section(class="table")
        div(class="table__title")
            div(class="title") #{tableName}
            div(class="add__button") Add
        div(class="table__fields")
            div(class="fields__list")
                each field in fieldList
                    div(class="field")=field
            each data in dataList
                div(class="data__list")
                    each field in fieldList
                        if field==='pk'
                            div(class="data")
                                a(href='/admin/'+tableName+'/'+data[field])=data[field]
                        else
                            div(class="data")=data[field]
