html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232F3E;
  color: white;
  height: 5rem;
  width: 100%;
}

.header__title {
  font-size: 2.5rem;
  margin-left: 5rem;
  line-height: 5rem;
}

.header__content {
  display: flex;
  flex-direction: row;
}

.header__user__info {
  font-size: 1.5rem;
  line-height: 5rem;
  color: #FFA624;
  font-weight: bolder;
}

.header__menu {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 5rem;
  line-height: 5rem;
}

.menu__button.logout {
 margin-left: 1rem;
}

.database__title {
  width: 60rem;
  height: 3rem;
  background-color: #37475A;
  color: white;
  line-height: 3rem;
  margin-top: 10rem;
}

.title {
  margin-left: 1.5rem;
  font-size: 1.7rem;
}

.table__list {
  width: 60rem;
}

.table {
  width: 60rem;
  height: 3.5rem;
  color: #4D6989;
  font-size: 1.5rem;
  border-bottom: 1px solid #EEEEEE;
  line-height: 3.5rem;
}
.table__name {
  margin-left: 1rem;
  font-weight: bolder;
}

.table__name:hover {
  cursor: pointer;
  text-decoration: underline;
}

