.database__title {
  width: 60rem;
  height: 3rem;
  margin-top: 10rem;
  line-height: 3rem;
  color: white;
  background-color: #37475A;
}

.title {
  margin-left: 1.5rem;
  font-size: 1.7rem;
}

.table__list {
  width: 60rem;
}

.table {
  display: flex;
  width: 60rem;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 4rem;

  color: #4D6989;
  border-bottom: 1px solid #EEEEEE;
}

.table__name {
  margin-left: 1rem;
  font-weight: bolder;
}

.table__name:hover {
  cursor: pointer;
  text-decoration: underline;
}

